<div fxLayout="column">
  <mat-card>
    <mat-card-content>
      <div fxLayout="row" fxLayoutAlign="space-between center">
        <h4>List of Courses Available</h4>
        <button mat-raised-button color="primary" [routerLink]="['new']">New course</button>
        <button mat-raised-button color="secondary" (click)="onRefresh()">Update</button>
      </div>

      <ng-container *ngIf="error$ | async as error; else courseTable">
        <ng-template #loadingError>
          <div>
            Error when loading courses. Try again later. Error: {{ error.message }}
          </div>
        </ng-template>
      </ng-container>

      <ng-template #courseTable>
        <table mat-table [dataSource]="courses$" class="mat-elevation-z8" matSort>
          <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>#</th>
            <td mat-cell *matCellDef="let course">{{ course.id }}</td>
          </ng-container>
          <ng-container matColumnDef="name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header>Course</th>
            <td mat-cell *matCellDef="let course">{{ course.name }}</td>
          </ng-container>
          <ng-container matColumnDef="actions">
            <th mat-header-cell *matHeaderCellDef></th>
            <td mat-cell *matCellDef="let course">
              <button mat-icon-button color="accent">
                <mat-icon>edit</mat-icon>
              </button>
              <button mat-icon-button color="warn">
                <mat-icon>delete</mat-icon>
              </button>
            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>

        <ng-template #loading>
          <span>Loading courses...</span>
        </ng-template>
      </ng-template>
    </mat-card-content>
  </mat-card>
</div>


<!--The Piece of Code Below Using Async Doesn't work well when Using Angular Material, refer later to try to solve this problem-->
<!--div class="card">
  <div class="card-header">
    <div class="float-left">
      <h4>Courses</h4>
    </div>
    <div class="float-right">
      <button type="button" class="btn btn-primary" [routerLink]="['new']">New course</button>
    </div>
  </div>
  <div class="card-body">
    <table class="table table-hover" *ngIf="courses$ | async as courses; else loading" >
      <thead>
        <tr>
          <th>#</th>
          <th>Course</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let course of courses" >
          <td>{{ course.id }}</td>
          <td>{{ course.name }}</td>
          <td>
            <span class="float-right">
              <button class="btn btn-outline-warning mb-1 btn-sm">
                Update
              </button>
              <button class="btn btn-outline-danger mb-1 btn-sm">
                Removee
              </button>
            </span>
          </td>
        </tr>
      </tbody>
    </table>

    <ng-template #loading>
      <span>Loading courses...</span>
    </ng-template>
  </div>
</-div-->
